body {
    background: linear-gradient(180.5deg, rgb(0, 128, 128) 8.5%, rgb(174, 206, 100) 118.2%);
    height: 100vh;
    overflow: hidden;
}
#login-form {
    width: 300px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#login-form input {
    display: block;
    margin-bottom: 25px;
    width: calc(100% - 30px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
}

#login-button {
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
}
span {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}
span a {
    color: #04AA6D;
}
#message {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
}
